<footer class="aperture-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a class="aperture-nav__logo-link" href="index.php">
                    <img class="aperture-nav__logo" src="assets/img/logo.svg" alt="logo">
                </a>
                <p>&copy;&nbsp;Aperture 2014. Все права защищены.</p>
            </div>
            <div class="col-md-3">
                <div class="aperture-footer__head">Разделы</div>
                <ul class="aperture-footer__list">
                    <li class="aperture-footer__list-item">
                        <a href="" class="aperture-footer__list-link">Контакты</a>
                    </li>
                    <li class="aperture-footer__list-item">
                        <a href="" class="aperture-footer__list-link">Партнеры</a>
                    </li>
                    <li class="aperture-footer__list-item">
                        <a href="" class="aperture-footer__list-link">Верстка</a>
                    </li>
                    <li class="aperture-footer__list-item">
                        <a href="" class="aperture-footer__list-link">Разработка</a>
                    </li>
                    <li class="aperture-footer__list-item">
                        <a href="" class="aperture-footer__list-link">Полиграфия</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="aperture-footer__head">Контакты</div>
                <ul class="aperture-footer__list">
                    <li class="aperture-footer__list-contact">
                        <i class="fas fa-envelope"></i>
                        <a href="mailto:aperture@gmail.com" class="aperture-footer__contact-link">aperture@gmail.com</a>
                    </li>
                    <li class="aperture-footer__list-contact">
                        <i class="fas fa-phone-alt"></i>
                        <a href="tel:+78127030202" class="aperture-footer__contact-link">(812) 703-02-02</a>
                    </li>
                    <li class="aperture-footer__list-contact">
                        <i class="fas fa-map-marker-alt"></i>
                        <span class="aperture-footer__contact-link">Санкт-Петербург, ул. Обручевых, д.&nbsp;1</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="aperture-footer__head">Посетите нас в соц. сетях.</div>
                <ul class="aperture-footer__list">
                    <li class="aperture-footer__list-social">
                        <a href="" class="aperture-footer__social-link social-link__vk">
                        </a>
                    </li>
                    <li class="aperture-footer__list-social">
                        <a href="" class="aperture-footer__social-link social-link__twitter">
                        </a>
                    </li>
                    <li class="aperture-footer__list-social">
                        <a href="" class="aperture-footer__social-link social-link__facebook">
                        </a>
                    </li>
                    <li class="aperture-footer__list-social">
                        <a href="" class="aperture-footer__social-link social-link__skype">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>