<body>
<header>
    <div class="aperture-contacts">
        <div class="container aperture-contacts__container">
            <div class="aperture-contacts__mail">
                <a class="aperture-contacts__link" href="mailto:aperture@gmail.com">
                    <div class="aperture-contacts__icon"><i class="fas fa-envelope"></i></div>
                    <div class="aperture-contacts__text">aperture@gmail.com</div>
                </a>
            </div>
            <div class="aperture-contacts__phone">
                <a class="aperture-contacts__link" href="tel:+78127030202">
                    <div class="aperture-contacts__icon"><i class="fas fa-phone-alt"></i></div>
                    <div class="aperture-contacts__text">(812) 703-02-02</div>
                </a>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light aperture-navbar">
        <div class="container">
            <a class="navbar-brand col-md-2 col-4" href="main.php">
                <img class="aperture-nav__logo" src="assets/img/logo.png" alt="logo">
            </a>
            <button class="navbar-toggler aperture-navbar__toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse aperture-navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link aperture-nav__link" href="our_team.php">Команда</a>
                    <a class="nav-link aperture-nav__link" href="goals.php">Цели</a>
                    <a class="nav-link aperture-nav__link" href="gallery.php">Галерея</a>
                    <a class="nav-link aperture-nav__link" href="contacts.php">Контакты</a>
                </div>
            </div>
        </div>
    </nav>
</header>