<div class="about-main">
    <div class="aperture-main__img">
        <div class="aperture-main__img-wave"></div>
    </div>
    <div class="about-main-content__container">
        <div class="container">
            <h1 class="about-main-goals__header">Наши контакты</h1>
            <ul class="aperture-footer__list">
                <li class="aperture-footer__list-contact">
                    <i class="fas fa-envelope"></i>
                    <a href="mailto:aperture@gmail.com" class="aperture-footer__contact-link">aperture@gmail.com</a>
                </li>
                <li class="aperture-footer__list-contact">
                    <i class="fas fa-phone-alt"></i>
                    <a href="tel:+78127030202" class="aperture-footer__contact-link">(812) 703-02-02</a>
                </li>
                <li class="aperture-footer__list-contact">
                    <i class="fas fa-map-marker-alt"></i>
                    <span class="aperture-footer__contact-link">Санкт-Петербург, ул. Обручевых, д.&nbsp;1</span>
                    <br><br>
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A84802a8f4a29b1364006620924fb6e973acee812954291db5dc0147bcd8b4169&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
                </li>
            </ul>
        </div>
        <div class="aperture-main__img-wave">
        </div>
    </div>
</div>


