<div class="about-main">
    <div class="aperture-main__img">
        <div class="aperture-main__img-wave"></div>
    </div>
    <div class="about-main-content__container">
        <div class="container">
            <div class="row team_container">
                <div class="col-12 col-sm-6 col-lg-3 mb-2">
                    <div class="team-card">
                        <div class="team-card-img__container">
                            <img class="team-card-img" src="assets/img/gallery/01.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-2">
                    <div class="team-card">
                        <div class="team-card-img__container">
                            <img class="team-card-img" src="assets/img/gallery/02.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-2">
                    <div class="team-card">
                        <div class="team-card-img__container">
                            <img class="team-card-img" src="assets/img/gallery/03.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-2">
                    <div class="team-card">
                        <div class="team-card-img__container">
                            <img class="team-card-img" src="assets/img/gallery/04.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-2">
                    <div class="team-card">
                        <div class="team-card-img__container">
                            <img class="team-card-img" src="assets/img/gallery/05.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-2">
                    <div class="team-card">
                        <div class="team-card-img__container">
                            <img class="team-card-img" src="assets/img/gallery/06.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-2">
                    <div class="team-card">
                        <div class="team-card-img__container">
                            <img class="team-card-img" src="assets/img/gallery/07.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-2">
                    <div class="team-card">
                        <div class="team-card-img__container">
                            <img class="team-card-img" src="assets/img/gallery/08.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-2">
                    <div class="team-card">
                        <div class="team-card-img__container">
                            <img class="team-card-img" src="assets/img/gallery/09.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-2">
                    <div class="team-card">
                        <div class="team-card-img__container">
                            <img class="team-card-img" src="assets/img/gallery/10.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-2">
                    <div class="team-card">
                        <div class="team-card-img__container">
                            <img class="team-card-img" src="assets/img/gallery/11.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-2">
                    <div class="team-card">
                        <div class="team-card-img__container">
                            <img class="team-card-img" src="assets/img/gallery/12.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="aperture-main__img-wave">
        </div>
    </div>
</div>