<div class="about-main">
    <div class="aperture-main__img">
        <div class="aperture-main__img-wave"></div>
    </div>
    <div class="about-main-content__container">
        <div class="container">
            <h1 class="about-main-goals__header">Цели</h1>
            <div class="row goals-container">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="goals-card">
                        <div class="goals-card__head">
                            <div class="goals-card__head-icon"><i class="far fa-eye"></i></div>
                            <div class="goals-card__head-text">Увидеть все</div>
                        </div>
                        <div class="goals-card__content"><p class="goals-card__content-text">Мы&nbsp;не&nbsp;доимся опасных и&nbsp;далеких мест. Запечатлеть весь мир на&nbsp;наших фотографиях&nbsp;&mdash; вот чего мы&nbsp;хотим!</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="goals-card">
                        <div class="goals-card__head">
                            <div class="goals-card__head-icon"><i class="fas fa-star"></i></div>
                            <div class="goals-card__head-text">Стать супер известными</div>
                        </div>
                        <div class="goals-card__content"><p class="goals-card__content-text">Мы&nbsp;работаем много и&nbsp;хорошо. Мы&nbsp;заставим вас полюбить нас, прийти к&nbsp;нам снова и&nbsp;рассказать о&nbsp;нас свооим друзьям.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="goals-card">
                        <div class="goals-card__head">
                            <div class="goals-card__head-icon"><i class="fas fa-briefcase"></i></div>
                            <div class="goals-card__head-text">Работать с профессионалами</div>
                        </div>
                        <div class="goals-card__content"><p class="goals-card__content-text">Всегда открыты партнерству и&nbsp;сотрудничеству. Будем рады талантливым дизайнерам и&nbsp;фотографам, фанатикам своего дела.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="goals-card">
                        <div class="goals-card__head">
                            <div class="goals-card__head-icon"><i class="fas fa-bullhorn"></i></div>
                            <div class="goals-card__head-text">Изменить мир</div>
                        </div>
                        <div class="goals-card__content"><p class="goals-card__content-text">Частью нашей деятельности также являются работы на&nbsp;острые социальные темы, призванные направить внимание зрителя на&nbsp;проблемы мирового масштаба.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="goals-card">
                        <div class="goals-card__head">
                            <div class="goals-card__head-icon"><i class="fas fa-paint-brush"></i></div>
                            <div class="goals-card__head-text">Улучшить качество работ</div>
                        </div>
                        <div class="goals-card__content"><p class="goals-card__content-text">Мы&nbsp;постоянно учимся новому, участвуем с&nbsp;презентациями и&nbsp;мастер-классами на&nbsp;различных творческих событиях и&nbsp;получаем опыт и&nbsp;новые знания соревнуясь в&nbsp;дизайнерских питчах.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="goals-card">
                        <div class="goals-card__head">
                            <div class="goals-card__head-icon"><i class="fas fa-link"></i></div>
                            <div class="goals-card__head-text">Формировать новые связи</div>
                        </div>
                        <div class="goals-card__content"><p class="goals-card__content-text">Мы&nbsp;формируем прочные и&nbsp;доверительные отношения с&nbsp;нашими заказчиками. Для постоянных клиентов практикуем расширенный сервис услуг и&nbsp;систему скидок.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="aperture-main__img-wave">
        </div>
    </div>
</div>