<div class="aperture-main">
  <div class="aperture-main__img">
    <div class="aperture-main__img-wave"></div>
  </div>
  <div class="aperture-main__advant">
    <div class="container">
      <h1 class="aperture-main__advant-header">Наши преимущества</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="aperture-main__advant-card">
            <div class="aperture-main__advant-card-head">
              Оригинальный контент
            </div>
            <div class="aperture-main__advant-content">
              <div class="aperture-main__advant-icon"><img src="assets/img/diamond.svg" alt=""></div>
              <div class="aperture-main__advant-text">Только качественный контент. Обработанные профессиональным дизайнером фотографии в&nbsp;высоком качестве. Никаких стоковых изображений&nbsp;&mdash; все фотографии сделаны нашими руками, кровью и&nbsp;потом.</div>
            </div>
            <a class="aperture-main__advant-link" href="">
              Подробнее
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="aperture-main__advant-card">
            <div class="aperture-main__advant-card-head">
              Качественный сервис
            </div>
            <div class="aperture-main__advant-content">
              <div class="aperture-main__advant-icon"><img src="assets/img/suitcase.svg" alt=""></div>
              <div class="aperture-main__advant-text">С&nbsp;нами удобно работать. Мы&nbsp;всегда устанавливаем сроки, помогаем заполнить техническое задание и&nbsp;другие бумаги, а&nbsp;также выбрать подходящий пакет услуг и&nbsp;готовы предоставить бонусы постоянным клиентам.</div>
            </div>
            <a class="aperture-main__advant-link" href="">
              Подробнее
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="aperture-main__advant-card">
            <div class="aperture-main__advant-card-head">
              Творческий подход
            </div>
            <div class="aperture-main__advant-content">
              <div class="aperture-main__advant-icon"><img src="assets/img/c_camera.svg" alt=""></div>
              <div class="aperture-main__advant-text">Мы&nbsp;не&nbsp;просто выполняем ваш заказ, мы&nbsp;работаем над вашим проектом вместе с&nbsp;Вами. Мы&nbsp;всегда готовы помочь и&nbsp;предложить несколько креативных идей, если вы&nbsp;не&nbsp;уверены в&nbsp;ваших желаниях.</div>
            </div>
            <a class="aperture-main__advant-link" href="">
              Подробнее
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="aperture-main__img-wave">
    </div>
  </div>
</div>