<div class="about-main">
    <div class="aperture-main__img">
        <div class="aperture-main__img-wave"></div>
    </div>
    <div class="about-main-content__container">
        <div class="container">
            <h2 class="about-main-team__header">Наша команда</h2>
            <div class="row team_container">
                <? foreach ($team as $member): ?>
                <div class="col-12 col-sm-6 col-lg-3 mb-2">
                    <div class="team-card">
                        <div class="team-card-img__container">
                            <img class="team-card-img" src="assets/img/about/<?= $member['img']?>" alt="<?= $member['name']?>">
                        </div>
                        <div class="team-card-name"><?= $member['name']?></div>
                        <div class="team-card_job"><?= $member['job']?></div>
                        <div class="team-card-description"><p><?= $member['description']?></p></div>
                        <div class="team-card-social__container">
                            <ul class="team-card-social__list">
                                <li class="team-card-social__item">
                                    <a href="" class="team-card-social__link">
                                        <i class="fab fa-vk"></i>
                                    </a>
                                </li>
                                <li class="team-card-social__item">
                                    <a href="" class="team-card-social__link">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="team-card-social__item">
                                    <a href="" class="team-card-social__link">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="team-card-social__item">
                                    <a href="" class="team-card-social__link">
                                        <i class="fab fa-skype"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <? endforeach; ?>
            </div>
        </div>
        <div class="aperture-main__img-wave">
        </div>
    </div>
</div>