.nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav-item :focus {
    border-bottom: 2px solid dodgerblue;
}
.nav-item a {
    display: block;
}
.nav-item i {
    margin-right: 1rem;
    color: #939393;
}

.dropdown-menu {
    border-radius: 0;
    border: none;
}
