fieldset {
    width: 450px;
    margin: 2rem auto;
    padding: 20px 0 20px 20px;
    border-radius: 3px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input,
select {
    margin-bottom: 10px;
    padding: 2px 5px;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.half-width {
    width: 50%;
    margin-right: -4px;
    display: inline-block;
}
.half-width input {
    width: 80%;
}
.width {
    width: 97%;
    display: block;
}