.about-main-content__container{
    position: relative;
    background: #e3e3e3;
    padding: 3rem 0 5rem;
}
.about-main-content__container .aperture-main__img-wave{
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 100%;
    background: url("../img/wave_bg.png");
}
.about-main-goals__header{
    font-weight: 600;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}
.goals-card{
    display: block;
    margin: 1rem;
}
.goals-card__head-icon{
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #000000;
    line-height: 32px;
    text-align: center;
    color: white;
}
.goals-card__head-text{
    display: inline-block;
    font-weight: 600;
    font-size: 1rem;
    padding-left: 1rem;
}
.goals-card__content{
    font-size: .875rem;
    padding-left: 3.25rem;
}
.about-main-team__header{
    font-weight: 600;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.team-card{
    background: url("../img/about/wood_pattern.jpg") no-repeat;
    background-size: cover;
    height: 100%;
}
.gallery-card{
    background: url("../img/about/wood_pattern.jpg") no-repeat;
    background-size: cover;
    height: 100%;
}

.team-card-img{
    width: 100%;
    padding: 1.5rem;
}
.gallery-card-img{
    width: 300px;
    padding: 1.5rem;
}
.team-card-name{
    text-align: center;
    font-weight: 600;
}
.team-card_job{
    text-align: center;
    font-weight: 600;
    color: #8d8d8d;
    font-size: .66rem;
    padding: .3rem;
}
.team-card-description{
    padding: 1.2rem 1rem 0;
    height: 31%;
    font-size: .875rem;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.team-card-description p{
    margin: 0;
}
.team-card-social__container{
    padding-bottom: .5rem;
    height: fit-content;
}
.team-card-social__list{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: .5rem 0;
}

.team-card-social__item{
    display: inline-block;
    margin: .5rem;
}
.team-card-social__link{
    text-decoration: none;
    width: 40px;
    height: 40px;
    display: block;
    background: #252525;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 1.3rem;
    color: #fff;
    transition: all .3s ease-in-out;
}
.team-card-social__link:hover{
    background: #285360;
    color: #fff;
}
@media screen and (min-width: 993px) and (max-width: 1200px){
    .goals-card{
        margin: 0;
    }
    .team-card .team-card-description{
        height: 40%;
    }
    .team-card-social__item{
        margin: .2rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px){
    .goals-card{
        margin: 0;
    }
    .team-card .team-card-description{
        height: 23%;
        font-size: .875rem;
    }
}
@media screen and (max-width: 576px){
    .goals-card{
        margin: 0;
    }
    .team-card .team-card-description{
        height: fit-content;
        font-size: 1rem;
        padding-bottom: 1rem;
    }
    .team-card-social__item{
        margin: 1.5rem;
    }
}
@media screen and (min-width: 577px) and (max-width: 768px){
    .goals-card{
        margin: 0;
    }
    .team-card .team-card-description{
        height: 40%;
        font-size: 1rem;
    }
    .team-card-social__item{
        margin: .4rem;
    }
}