.aperture-main__advant{
    background: #e3e3e3;
    padding: 3rem 0 5rem;
}
.aperture-main__advant-header{
    font-weight: 600;
    text-align: center;
    margin-bottom: 3rem;
}
.aperture-main__advant-card{
    text-align: center;
}
.aperture-main__advant-card-head{
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.25rem;
    color: #4e4b43;
    text-transform: uppercase;
}
.aperture-main__advant-icon{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 1.5rem;
    color: #123447;
}
.aperture-main__advant-text{
    text-align: center;
    color: #4e4b43;
    line-height: 1.48;
}
.aperture-main__advant-link{
    padding: .5rem 1.5rem;
    background: #252525;
    color: #b0b0b0;
    text-decoration: none;
    display: inline-block;
    margin-top: 2rem;
    text-transform: uppercase;
    transition: color .3s ease-in-out;
}
.aperture-main__advant-link:hover{
    color: #ffffff;
}
@media screen and (max-width: 768px){
    .aperture-main__advant-card{
        margin-bottom: 5rem;
    }
}
