@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/opensans-regular-webfont.woff') format('woff'),
    url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: open_sansregular, sans-serif;
}
.aperture-contacts{
    background: #252525;
    padding: .5rem 0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.aperture-contacts__container{
    text-align: right;
}
.aperture-contacts__link{
    display: block;
}
.aperture-contacts__icon, .aperture-contacts__text{
    display: inline-block;
}
.aperture-contacts__mail, .aperture-contacts__phone{
    display: inline-block;
    margin: 0 0 0 1rem;
}

.aperture-contacts__icon{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #205360;
    line-height: 32px;
    text-align: center;
    color: white;
}
.aperture-contacts__text{
    color: #797979;
    font-weight: 600;
    font-size: .875rem;
    transition: color .3s ease-in-out;
}
.aperture-contacts__link:hover .aperture-contacts__text{
    color: #979797;
}
@media screen and (min-width: 992px){
    .aperture-navbar{
        padding: 0;
    }
    .aperture-nav__link{
        margin: 0 0 0 .5rem;
    }
}
.aperture-nav__logo{
    width: 100%;
}
.aperture-nav__link{
    text-transform: uppercase;
    font-weight: 600;
    padding: 1rem;
}
.aperture-navbar .aperture-navbar-collapse .aperture-nav__link:hover{
    background: #205360;
    color: #fff;
}
.aperture-navbar-collapse{
    justify-content: flex-end;
}
.aperture-navbar__toggler:focus{
    box-shadow: none;
}
.aperture-main__img{
    height: 300px;
    background:  url("../img/line_pattern.png") repeat, url("../img/main.jpg") no-repeat 100% 33%;
    background-size: auto, cover;
    position: relative;
}
.aperture-main__img{
    height: 300px;
    background:  url("../img/line_pattern.png") repeat, url("../img/main.jpg") no-repeat 100% 33%;
    background-size: auto, cover;
    position: relative;
}
.aperture-main__img .aperture-main__img-wave{
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 100%;
    background: url("../img/white_waves_bg.png");
}
.aperture-main__advant{
    position: relative;
}
.aperture-main__advant .aperture-main__img-wave{
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 100%;
    background: url("../img/wave_bg.png");
}
.aperture-footer{
    background: #252525;
    color: #797979;
    padding-top: 2rem;
}
.aperture-footer .aperture-nav__logo{
    width: 80%;
    margin-bottom: 1rem;
}
.aperture-nav__logo-link{
    display: block;
}
.aperture-footer__head{
    margin-bottom: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}
.aperture-footer__list{
    list-style: none;
    padding: 0;
}
.aperture-footer__list-item{
    display: inline-block;
    margin: 0 1rem 1rem 0;
    background: #454545;
}
.aperture-footer__list-link, .aperture-footer__contact-link{
    text-decoration: none;
    color: #797979;
}
.aperture-footer__list-link{
    display: block;
    padding: .5rem 1rem;
    transition: color .3s ease-in-out;
}
.aperture-footer__list-link:hover, .aperture-footer__contact-link:not(span):hover{
    color: #b1b1b1;
}
.aperture-footer__list-contact{
    margin: 1rem 0;
}
.aperture-footer__contact-link{
    margin: 0 0 1rem 1rem;
    transition: all .3ms ease-in-out;
}
.aperture-footer__list-social{
    display: inline-block;
}
.aperture-footer__social-link{
    text-decoration: none;
}
.social-link__vk{
    display: inline-block;
    height: 56px;
    width: 56px;
    background-image: url("../img/social_sprite.png");
    background-position: 0 0;
}
.social-link__twitter{
    display: inline-block;
    height: 56px;
    width: 56px;
    background-image: url("../img/social_sprite.png");
    background-position: -56px 0;
}
.social-link__facebook{
    display: inline-block;
    height: 56px;
    width: 56px;
    background-image: url("../img/social_sprite.png");
    background-position: -112px 0;
}
.social-link__skype{
    display: inline-block;
    height: 56px;
    width: 56px;
    background-image: url("../img/social_sprite.png");
    background-position: -168px 0;
}
.social-link__vk:hover{
    display: inline-block;
    height: 56px;
    width: 56px;
    background-image: url("../img/social_sprite.png");
    background-position: 0 -56px;
}
.social-link__twitter:hover{
    display: inline-block;
    height: 56px;
    width: 56px;
    background-image: url("../img/social_sprite.png");
    background-position: -56px -56px;
}
.social-link__facebook:hover{
    display: inline-block;
    height: 56px;
    width: 56px;
    background-image: url("../img/social_sprite.png");
    background-position: -112px -56px;
}
.social-link__skype:hover{
    display: inline-block;
    height: 56px;
    width: 56px;
    background-image: url("../img/social_sprite.png");
    background-position: -168px -56px;
}